<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pollapex Password Reset</title>

    <style>
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }

      body {
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.6;
        padding: 1rem;
      }

      header,
      main,
      footer {
        margin: 1rem 0.5rem;
      }

      footer {
        margin-top: 2.5rem;
      }

      .button {
        display: inline-block;
        padding: 8px 12px;
        border-radius: 4px;
        background-color: blue;
        color: #fff;
        font-weight: 500;
        margin: 1rem auto 1.5rem auto;
        text-decoration: none;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Pollapex</h1>
      <p>Hello <%= username %>,</p>
    </header>

    <main>
      <section>
        <p>We heard that you lost your Pollapex password. Sorry about that!</p>
        <p>
          But don’t worry! You can use the following button to reset your
          password:
        </p>
        <div>
          <a href="<%= resetLink %>" class="button"> Reset Password </a>
        </div>
      </section>

      <section>
        <p>If you don’t use this link within 15 minutes, it will expire.</p>
        <p>
          To get a new password reset link, visit:
          <a href="<%= clientPage %>"> <%= clientPage %> </a>
        </p>
      </section>
    </main>

    <footer>
      <p>Thanks,</p>
      <p>The Pollapex Team.</p>
    </footer>
  </body>
</html>
