@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes selection {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #ebf8ff;
  }
}

.animate-selection {
  animation-name: selection;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

body {
  zoom: 1;
}

@media (max-width: 768px) {
  body {
    zoom: 95%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  body {
    zoom: 85%;
  }
}

@media (min-width: 1025px) and (max-width: 1600px) {
  body {
    zoom: 75%;
  }
}
