@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes selection {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #ebf8ff;
  }
}

.animate-selection {
  animation-name: selection;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes color-change {
  0% {
    color: black;
  }
  25% {
    color: orange;
  }
  50% {
    color: red;
  }
  75% {
    color: blue;
  }
  100% {
    color: black;
  }
}

.animate-color-change {
  animation: color-change 1.5s infinite;
}
